* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#canvas {
    border: 1px solid black;
    position: relative;
    margin: 50px;
}

#footer {
    background-color: rgb(26, 26, 26);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 150px;
    position: relative;
    bottom: 0px;  
}
